body{
    margin: 0 auto; /*place it in the middle*/
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px; /*don't go beyond 300px*/
}

label{
    color: #936c6c;
    font-weight: 900;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #936c6c;
    margin-bottom: 4px;
}

button{
    background-color: #936c6c;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
#delete-btn{
    background-color: #808080;
    color: #ffd700;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

a{
    color: #936c6c;
}

li{
    margin-top: 5px;
}
li a{
    color: #936c6c;
}